
{% extends 'accountbase.html' %}


{% load static %}

{% block content%}

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Enter OTP to Verify an Account!</h1>
            </div>
            <!-- {% if messages %}
                {% for message in messages %}
                <p class="alert alert-danger">{{message}}</p>
                {% endfor %}
            {% endif%} -->
            {% include 'alert_.html' %}
            <form method="POST" action="{% url 'verify_otp'%}" class="user">
              {% csrf_token %}
              
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="username"  value="{{username}}" class="form-control form-control-user" id="exampleInputEmail" placeholder="Enter Username" readonly>
                </div>
                <div class="col-sm-6">
                  <input type="email" name="email" value="{{email}}" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" readonly>
                </div>
              </div>
              <div class="form-group">
                <input type="text" name="otp" class="form-control form-control-user" id="exampleInputEmail" placeholder="Enter OTP Ex. 123321" required>
              </div>
              
              <input type="submit" class="btn btn-primary btn-user btn-block" value="Verify Account" >
              
            </form>

            <small class="float-right mt-2 ">
                <a href="#" class="text-dark" 
                onclick="ReSendOTP('{{username}}', 'resendOTPmess')">
                <i id="resendOTPmess">Resend</i> OTP</a>
            </small>
            <br>
            <hr class="mt-3">
            <!-- <div class="text-center">
              <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
            </div> -->
            <div class="text-center">
              <a class="small" href="{% url 'login_page' %}">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
{% endblock content%}