{% extends 'base.html' %}

{%block content%}

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-3 d-none d-sm-none d-md-block">
      <div class="list-group ">
        <a href="{% url 'your_settings' %}" class="list-group-item list-group-item-action">Basic Info</a>
        <a href="{% url 'other_details' %}" class="list-group-item list-group-item-action">Other details</a>
        <a href="{% url 'change_password' %}" class="list-group-item list-group-item-action active">Change Password</a>
        <!-- <a href="{% url 'push_notifications' %}" class="list-group-item list-group-item-action">Push Notifications</a> -->
        <a href="{% url 'privacy_and_security' %}" class="list-group-item list-group-item-action">Privacy and Security</a>
        <!-- <a href="{% url 'your_settings' %}" class="list-group-item list-group-item-action">Post</a>
        <a href="{% url 'your_settings' %}" class="list-group-item list-group-item-action">Settings</a> -->
      </div> 
    </div>


    <div class="col-md-3 d-md-none">

      <div class="list-group align-items-center justify-content-center list-group-horizontal">
        <a class="list-group-item" href="{% url 'your_settings' %}" styles="color: aliceblue;">
          <i class="fas fa-user"></i>
        </a>
        <a class="list-group-item" href="{% url 'other_details' %}" styles="color: aliceblue;">
          <i class="fas fa-user-cog"></i>
        </a>
        <a class="list-group-item  active" href="{% url 'change_password' %}" styles="color: aliceblue;">
          <i class="fas fa-money-check-alt"></i>
        </a>
        <a class="list-group-item" href="{% url 'privacy_and_security' %}" styles="color: aliceblue;">
          <i class="fas fa-user-shield"></i>
        </a>
        <a class="list-group-item" href="{% url 'push_notifications' %}" styles="color: aliceblue;">
          <i class="fas fa-bell"></i>
        </a>
      </div>
              
    </div>  

    <div class="col-md-9 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Change Password</h4>
                        <hr>
                    </div>
                </div>
                {% include 'alert_.html' %}

                <div class="row">
                    <div class="col-md-12">
                        <form method="POST" action="{% url 'change_password' %}">
                          {% csrf_token %}
                          <div class="form-group row">
                            <label for="old password" class="col-4 col-form-label">Old Password</label> 
                            <div class="col-8">
                              <input id="old password" name="old_password" placeholder="old password" class="form-control here" required="required" type="password">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="new password" class="col-4 col-form-label">New Password</label> 
                            <div class="col-8">
                              <input id="new password" name="new_password" placeholder="New Password" class="form-control here" type="password">
                            </div>
                          </div>
                          
                          <div class="form-group row">
                            <label for="confirm password" class="col-4 col-form-label">Confirm Password</label> 
                            <div class="col-8">
                              <input id="confirm password" name="new_password2" placeholder="Confirm Password" class="form-control here" type="password">
                            </div>
                          </div>
                          
                          <!-- button -->
                          <div class="form-group row">
                            <div class="offset-4 col-8">
                              <button name="submit" type="submit" class="btn btn-primary">Change Password</button>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- content row -->

{%endblock content%}