{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABZ Social --[Grow socially with us]</title>
    <link rel="stylesheet" href="{% static 'css/landing_page_css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/landing_page_css/styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'img/landing_page/logo/1.png' %}" class="img-top" alt="" width="220px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
            <!-- login - register -->
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-links mr-3 btn btn-primary" href="#">Profile</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-links mr-3 btn btn-primary" href="{% url 'login_page'%}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-links btn btn-primary" href="{% url 'register'%}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <header class="page-header gradient">
      <div class="container pt-3">
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">
          <div class="col-md-5">
            <h1>Social Media Service</h1>
            <h4> Provider</h4>

            <p>#1 SMM PANEL IN THE
              WORLD
              Smmanil.com  is simply the fastest, cheapest, 
              BIGGEST panel in the SMM World.
            </p>

            <button type="button" class="btn btn-outline-info btn-lg">
              Read more
            </button>
            <button type="button" class="btn btn-outline-warning btn-lg">
              Play video
            </button>
          </div>
          <div class="col-md-5">
            <img
              src="{% static 'img/landing_page/email_campaign_monochromatic.svg' %}"
              alt="Header image"
            />
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L48,117.3C96,107,192,85,288,80C384,75,480,85,576,112C672,139,768,181,864,181.3C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </header>

    <section class="companies">
      <div class="container text-center">
        <div class="row g-5">
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/instagram.png' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/facebook.jpg' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/3.png' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/twitter.png' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/youtube.png' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
          <div class="col-md-2">
            <img
              src="{% static 'img/landing_page/companies/linkedin.png' %}"
              alt="Company logo"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="feature gradient">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
        ></path>
      </svg>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img src="{% static 'img/landing_page/seo_monochromatic.svg' %}" alt="" />
          </div>

          <div class="col-md-6">
            <h1 class="my-3">Introducing SMM Anil</h1>
            <p class="my-4">
              It's crafted with the latest trend of design & coded with all
              modern approaches. It's a robust & multi-dimensional usable
              template.
            </p>
            <ul>
              <li>Best for Creative Agency</li>
              <li>Built with Latest Technology</li>
              <li>Super Responsive</li>
              <li>Creative Design</li>
            </ul>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,224L48,213.3C96,203,192,181,288,154.7C384,128,480,96,576,117.3C672,139,768,213,864,208C960,203,1056,117,1152,101.3C1248,85,1344,139,1392,165.3L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </section>
    <section class="icons" id="features">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-4">
            <div class="icon gradient mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-layers"
              >
                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                <polyline points="2 17 12 22 22 17"></polyline>
                <polyline points="2 12 12 17 22 12"></polyline>
              </svg>
            </div>
            <h3>Indian SMM Panal</h3>
            <p>
              We are very famous in selling our SMM
              services in a unique way all over the world,
              all the more we loved India because
              Indians love our service and our whole SMM
              Panel Service is famous across the globe.
              And we are also known as Indian SMM
              Panel.
            </p>
          </div>
          <div class="col-md-4">
            <div class="icon gradient mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-smartphone"
              >
                <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                <line x1="12" y1="18" x2="12.01" y2="18"></line>
              </svg>
            </div>
            <h3>Cheap SMM Panal</h3>
            <p class="mb-0">              
              If you are searching for cheap SMM panel
              solutions, look no farther than
              SmmWorIdPanel. All your SMM needs are
              related to the utmost accountability and
              commitment. Quality meets cost-
              effectiveness harmoniously to deliver the
              best experience for each customer.
            </p>
          </div>
          <div class="col-md-4">
            <div class="icon gradient mb-4">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-code"
              >
                <polyline points="16 18 22 12 16 6"></polyline>
                <polyline points="8 6 2 12 8 18"></polyline>
              </svg>
            </div>
            <h3>SMM Provider Panal</h3>
            <p class="mb-0">              
              As a trusted SMM provider panel company,
              we offer responsible and reliable services
              to meet the changing your needs of a large
              number of customers. You can expect
              cost-efficient solutions from us. that's why
              SmmWorldPaneI is the world's best SMM
              Panel.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="gallery">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L120,128C240,128,480,128,720,122.7C960,117,1200,107,1320,101.3L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"
        ></path>
      </svg>
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1>Check our latest awesome creative work</h1>
            <p>
              It's crafted with the latest trend of design & coded with all
              modern approaches. It's a robust & multi-dimensional usable
              template
            </p>
          </div>
        </div>
        <div class="row my-3 g-3">
          <div class="col-md-4">
            <img src="{% static 'img/landing_page/c1.jpg' %}" alt="Gallery image" class="img-fluid" />
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/landing_page/c2.jpg' %}" alt="Gallery image" class="img-fluid" />
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/landing_page/c3.jpg' %}" alt="Gallery image" class="img-fluid" />
          </div>
        </div>
        <div class="row mt-5 justify-content-end">
          <div class="col-md-2">
            <button type="button" class="btn btn-outline-secondary">
              See all works
            </button>
          </div>
        </div>
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,128L120,128C240,128,480,128,720,122.7C960,117,1200,107,1320,101.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
      </svg>
    </section>

    <section class="services gradient">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,96L34.3,106.7C68.6,117,137,139,206,122.7C274.3,107,343,53,411,53.3C480,53,549,107,617,117.3C685.7,128,754,96,823,96C891.4,96,960,128,1029,154.7C1097.1,181,1166,203,1234,202.7C1302.9,203,1371,181,1406,170.7L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
        ></path>
      </svg>
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-5">
            <button type="button" class="btn btn-outline-light mb-3">
              Step 1
            </button>

            <h1>Register & Login</h1>

            <p>
              First of all, please register a 
              panel account and log in.
            </p>
          </div>
          <div class="col-md-5">
            <img src="{% static 'img/landing_page/coding_.svg' %}" alt="" />
          </div>
        </div>
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">  
          <div class="col-md-5">
            <img src="{% static 'img/landing_page/marketing.svg' %}" alt="" />
          </div>
          <div class="col-md-5">
            <button type="button " class="btn btn-outline-light mb-3">
              Step 2
            </button>

            <h1>Add Fund</h1>

            <p>
              Choose a preferred payment method and add funds.
            </p>
          </div>
        </div>
        <div class="row align-items-center justify-content-center">  
          <div class="col-md-5">
            <button type="button" class="btn btn-outline-light mb-3">
              Step 3
            </button>

            <h1>Choose SMM services</h1>

            <p>
              Order SMM services on our panel to receive more publicity online.
            </p>
          </div>
          <div class="col-md-5">
            <img src="{% static 'img/landing_page/revenue_.svg' %}" alt="" />
          </div>
        </div>
        <div class="row align-items-center justify-content-center flex-column-reverse flex-md-row">  
          <div class="col-md-5">
            <img src="{% static 'img/landing_page/marketing.svg' %}" alt="" />
          </div>
          <div class="col-md-5">
            <button type="button " class="btn btn-outline-light mb-3">
              Step 4
            </button>

            <h1>Quick results</h1>

            <p>
              Wait a little until your order is complete, and that's it!
            </p>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 210">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,96L34.3,106.7C68.6,117,137,139,206,122.7C274.3,107,343,53,411,53.3C480,53,549,107,617,117.3C685.7,128,754,96,823,96C891.4,96,960,128,1029,154.7C1097.1,181,1166,203,1234,202.7C1302.9,203,1371,181,1406,170.7L1440,160L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        ></path>
      </svg>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <form method="POST" action="#">
              {% csrf_token %}
            <h1>Contact us:</h1>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                name="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="name@example.com"
                required
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Comments :</label
              >
              <textarea
                class="form-control"
                name="comments"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Please write your query or suggestions."
                required
              ></textarea>
            </div>
            <button type="submit" class="btn btn-outline-secondary">
              Send
            </button>

            </form>
          </div>
          <div class="col-md-5">
            <img src="{% static 'img/landing_page/handshake.svg' %}" alt="Contact image" />
          </div>
        </div>
      </div>
    </section>

    <footer class="gradient">
      <div class="container-fluid text-center">
        <span>
          Copyright &copy;
          <a href="/">Your Website</a>
          2021
        </span>
      </div>
    </footer>
    <script src="{% static 'js/landing_page_js/bootstrap.min.js' %}"></script>
  </body>
</html>
